.cache
.calva
.cpcache
.config
.env
.lsp
.preprocessor-cljs
.rebel_readline_history
.secret
.shadow-cljs
classes
config.edn
cypress/screenshots
cypress/videos
data
log
target
.eastwood
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md
.tmp-*
yarn-error.log
tls.cert
target
log
data
admin.macaroon
.shadow-cljs

