.calva
.clj-kondo/.cache
.cpcache
.eastwood
.env
.envrc
.gradle
.helm
.idea
.lein-*
*.class
*.db
*.log
*.jar
.nrepl-port
.preprocessor-cljs
.rebel_readline_history
.secret
.shadow-cljs
.vscode
data
dev-config.edn
node_modules/
profiles.clj
test-config.edn
test-results/
/classes
/checkouts
/coverage
/cypress/screenshots
/cypress/videos
/log
/out
/pom.xml
/public/js/
/resources/main/public/js
/resources/workspaces/public/js
/routes/
/target
/tilt_modules
/tmp
/.preprocessor-cljs/
*.macaroon
*.cert
*.bak
