{:jvm-opts ["-Dclojure.spec.check-asserts=true"
            "-Dlogback.configurationFile=resources/logback.xml"]

 :paths ["lib" "src/main" "src/shared" "resources/main"]

 :deps
 {buddy/buddy                            {:mvn/version "2.0.0"}
  cider/cider-nrepl                      {:mvn/version "0.28.0"}
  clj-commons/clj-yaml                   {:mvn/version "0.7.108"}
  clj-time/clj-time                      {:mvn/version "0.15.2"}
  com.fulcrologic/fulcro                 {:mvn/version "3.5.12"}
  com.fulcrologic/fulcro-garden-css      {:mvn/version "3.0.6"}
  com.fulcrologic/fulcro-rad             {:mvn/version "1.1.4"}
  com.fulcrologic/fulcro-rad-semantic-ui {:mvn/version "1.2.4"}
  com.fzakaria/slf4j-timbre              {:mvn/version "0.3.21"}
  com.github.igrishaev/farseer-client    {:mvn/version "0.1.1"}
  com.lambdaisland/glogi                 {:mvn/version "1.1.144"}
  com.taoensso/timbre                    {:mvn/version "5.1.2"}
  com.taoensso/tufte                     {:mvn/version "2.2.0"}
  com.wsscode/pathom                     {:mvn/version "2.4.0"}
  com.xtdb/xtdb-core                     {:mvn/version "1.20.0"}
  com.xtdb/xtdb-jdbc                     {:mvn/version "1.20.0"}
  com.xtdb/xtdb-rocksdb                  {:mvn/version "1.20.0"}
  djblue/portal                          {:mvn/version "0.27.0"}
  edn-query-language/eql                 {:mvn/version "2021.07.18"}
  http.async.client/http.async.client    {:mvn/version "1.3.1"}
  io.pedestal/pedestal.log               {:mvn/version "0.5.9"}
  lt.jocas/clj-jq                        {:mvn/version "1.1.4"}
  manifold/manifold                      {:mvn/version "0.2.3"}
  metosin/reitit                         {:mvn/version "0.5.15"}
  metosin/ring-http-response             {:mvn/version "0.9.3"}
  mount/mount                            {:mvn/version "0.1.16"}
  nrepl/nrepl                            {:mvn/version "0.9.0"}
  org.bitcoin-s/bitcoin-s-core_2.13      {:mvn/version "1.9.0"}
  org.bitcoin-s/bitcoin-s-lnd-rpc_2.13   {:mvn/version "1.9.0"}
  org.clj-commons/byte-streams           {:mvn/version "0.3.0"}
  org.clojure/clojure                    {:mvn/version "1.10.3"}
  org.clojure/clojurescript              {:mvn/version "1.10.891"}
  org.clojure/spec.alpha                 {:mvn/version "0.3.214"}
  org.clojure/test.check                 {:mvn/version "1.1.1"}
  org.clojure/tools.cli                  {:mvn/version "1.0.206"}
  org.lightningj/lightningj              {:mvn/version "0.14.1-Beta"}
  org.postgresql/postgresql              {:mvn/version "42.3.1"}
  org.slf4j/log4j-over-slf4j             {:mvn/version "1.7.33"}
  org.slf4j/jul-to-slf4j                 {:mvn/version "1.7.33"}
  org.slf4j/jcl-over-slf4j               {:mvn/version "1.7.33"}
  prone/prone                            {:mvn/version "2021-04-23"}
  ring/ring-core                         {:mvn/version "1.9.5"}
  ring/ring-defaults                     {:mvn/version "0.3.3"}
  ring/ring-devel                        {:mvn/version "1.9.5"}
  ring/ring-mock                         {:mvn/version "0.4.0"}
  net.clojars.roterski/fulcro-rad-xtdb   {:mvn/version "0.0.1-alpha-7"}
  selmer/selmer                          {:mvn/version "1.12.49"}
  thheller/shadow-cljs                   {:mvn/version "2.16.7"}
  tick/tick                              {:mvn/version "0.4.32"
                                          :exclusions  [cljsjs/js-joda-timezone
                                                        cljsjs/js-joda-timezone-en-us]}}

 :aliases
 {:build
  {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.6.5" :git/sha "972031a"}}
   :ns-default build}

  :cljfmt
  {:extra-deps
   {cljfmt/cljfmt {:mvn/version "0.6.7"}}
   :main-opts ["-m" "cljfmt.main"]}

  :codox
  {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
   :exec-fn    codox.main/generate-docs
   :exec-args  {:source-paths ["src/main"]}}

  :codox-cljs
  {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
   :exec-fn    codox.main/generate-docs
   :exec-args  {:source-paths ["src/main"]
                :language     :clojurescript
                :output-path  "target/docs-cljs"}}

  :dev
  {:extra-paths ["src/dev" "src/test" "src/shared-test"]
   :extra-deps
   {binaryage/devtools      {:mvn/version "1.0.3"}
    nubank/workspaces       {:mvn/version "1.1.2"}
    fulcrologic/fulcro-spec {:mvn/version "3.1.12"}
    thheller/shadow-cljs    {:mvn/version "2.15.12"}}}

  :dev-main
  {:main-opts ["-m" "dinsro.core"]}

  :devcards
  {:extra-deps
   {io.github.nextjournal/viewers          {:git/sha "c88c97c9ad008b0c214e44523488fcfa0605e6d9"}}
   :extra-paths ["src/shared-cards"]}

  :guardrails
  {:jvm-opts ["-Dguardrails.enabled=true"]}

  :reveal
  {:extra-deps {vlaaad/reveal {:mvn/version "1.3.250"}}
   :ns-default vlaaad.reveal
   :exec-fn    repl}

  :dispatch
  {:replace-deps
   {cider/cider-nrepl   {:mvn/version "0.27.2"}
    com.taoensso/timbre {:mvn/version "5.1.2"}
    nrepl/nrepl         {:mvn/version "0.9.0-beta4"}}
   :extra-paths ["src/dispatch"]
   :main-opts   ["-m" "dinsro.components.dispatch"]}

  :eastwood
  {:extra-deps
   {jonase/eastwood {:mvn/version "1.2.3"}}
   :main-opts ["-m" "eastwood.lint" {:exclude-linters [:reflection]}]}

  :kibit
  {:extra-deps
   {tvaughan/kibit-runner {:mvn/version "1.0.1"}}
   :main-opts ["-m" "kibit-runner.cmdline"]}

  :notebooks
  {:extra-paths ["src/notebooks"]
   :extra-deps
   {io.github.nextjournal/clerk {:mvn/version "0.8.486"}}}

  :outdated
  {:replace-deps {olical/depot {:mvn/version "2.3.0"}}
   :main-opts    ["-m" "depot.outdated.main"]}

  :production
  {:extra-paths ["src/prod" "resources/prod" "classes"]}

  :production-main
  {:main-opts ["-m" "dinsro.core"]}

  :shadow-cljs
  {:jvm-opts  ["-Dclerk.resource_manifest={\"/js/viewer.js\" \"http://localhost:7778/js/viewer.js\"}"
               "-Dpolyglot.engine.WarnInterpreterOnly=false"
               "-XX:-OmitStackTraceInFastThrow"]
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}

  :test
  {:extra-deps
   {lambdaisland/kaocha {:mvn/version "1.60.977"}}
   :main-opts ["-m" "kaocha.runner"]}}}
