{:addresses ["bcrt1qv5rv0g0py86zqmwcz05qf50qr34ckshawylvfq"]

 :timezone       "America/Detroit"
 :category-names ["Category A" "Category B" "Category C"]

 :networks
 {"bitcoin"  ["mainnet" "testnet" "regtest"]
  "fakecoin" ["mainnet"]}

 :relays ["wss://nostream.dev.kronkltd.net"
          "wss://relay.kronkltd.net"]

 :nodes
 [{:name    "bitcoin-alice"
   :host    "alice-bitcoind"
   :port    18443
   :rpcuser "rpcuser"
   :rpcpass "rpcpassword"
   :chain   "bitcoin"
   :network "regtest"
   :peers   ["bitcoin-bob"]}

  {:name    "bitcoin-bob"
   :host    "bob-bitcoind"
   :port    18443
   :chain   "bitcoin"
   :network "regtest"
   :rpcuser "rpcuser"
   :rpcpass "rpcpassword"
   :peers   []}

  #_
  {:name    "bitcoin-larry"
   :host    "larry-bitcoind.larry"
   :port    18332
   :chain   "bitcoin"
   :network "testnet"
   :rpcuser "rpcuser"
   :rpcpass "rpcpassword"
   :peers   []}]

 :users
 [{:username "admin"
   :password "hunter2"
   :pubkeys  ["6fe701bde348f57e1068101830ad2015f32d3d51d0d685ff0f2812ee8635efec"]
   :role     :account.role/admin
   :accounts []

   :categories
   [{:name "Admin Category A"}
    {:name "Admin Category B"}
    {:name "Admin Category C"}]

   :transactions []
   :ln-nodes     []
   :wallets      []}

  {:username "alice"
   :password "hunter2"
   :pubkeys  ["efff8cd00d0fb7477935bfad061d549fc3f84ceec34646d7f526651aab47c00a"]
   :role     :account.role/user

   :accounts
   [{:name          "Alice's Bank Account"
     :initial-value 0
     :source        "DuckBitcoin"}
    {:name          "Exchange USD"
     :initial-value 0
     :source        "DuckBitcoin"}
    {:name          "Cash"
     :source        "DuckBitcoin"
     :initial-value 0}
    {:name          "Exchange sats"
     :initial-value 0
     :source        "identity"}
    {:name          "Wallet A"
     :initial-value 0
     :source        "identity"
     :wallet        "Wallet A"}
    {:name          "LND1 On-chain"
     :initial-value 0
     :source        "identity"}]

   :categories
   [{:name "Category A"}
    {:name "Category B"}
    {:name "Category C"}]

   :transactions
   [{:date        "2022-09-03T16:30:00"
     :description "Initial deposit"
     :debits      [{:value 2000. :account "Alice's Bank Account"}]}
    {:date        "2022-09-03T16:32:00"
     :description "Transfer to exchange"
     :debits      [{:value -100. :account "Alice's Bank Account"}
                   {:value 100. :account "Exchange USD"}]}
    {:date        "2022-09-03T16:35:00"
     :description "Buy Bitcoin"
     :debits      [{:value -50. :account "Exchange USD"}
                   {:value 5000000000. :account "Exchange sats"}]}
    {:date        "2022-09-03T16:38:00"
     :description "withdraw sats"
     :debits      [{:value -5000000000. :account "Exchange sats"}
                   {:value 5000000000. :account "Wallet A"}]}]

   :ln-nodes
   [{:name            "lnd-alice"
     :host            "alice-lnd-internal.dinsro.svc.cluster.local"
     :fileserver-host "fileserver"
     :port            "10009"
     :node            "bitcoin-alice"
     :mnemonic        ["abandon" "horror"  "because" "buddy"  "jump"  "satisfy"
                       "escape"  "flee"    "tape"    "pull"   "bacon" "arm"
                       "twenty"  "filter"  "burst"   "mirror" "ghost" "short"
                       "work"    "home"    "punch"   "little"  "like" "gym"]
     :remote-nodes
     [{:host   "bob-lnd-external.dinsro.svc.cluster.local"
       :pubkey "020e78000d4d907877ab352cd53c0dd382071c224b500c1fa05fb6f7902f5fa544"}]}]

   :wallets
   [{:label       "a"
     :blockheight 0
     :name        "Wallet A"
     :descriptor  "wpkh([7c6cf2c1/84h/1h/0h]tpubDDV8TbjuWeytsM7mAwTTkwVqWvmZ6TpMj1qQ8xNmNe6fZcZPwf1nDocKoYSF4vjM1XAoVdie8avWzE8hTpt8pgsCosTdAjnweSy7bR1kAwc/0/*)#8phlkw5l"
     :seed        ["universe" "loud"   "stable" "patrol"  "artwork"  "chimney"
                   "acoustic" "chief"  "one"    "use"     "object"   "gossip"
                   "enter"    "green"  "scout"  "brother" "worry"    "fancy"
                   "olive"    "salmon" "chef"   "repair"  "hospital" "milk"]
     :node        "bitcoin-alice"
     :path        "m/84'/0'/0'"}]}

  {:username "bob"
   :password "hunter2"
   :pubkeys  ["6bda57c3323ac4d8b4ca32729d07f1707b60df1c0625e7acab3cefefb001cf28"]
   :role     :account.role/user

   :accounts
   [{:name          "Bank Account"
     :initial-value 0
     :source        "DuckBitcoin"}
    {:name          "Bob's Exchange"
     :initial-value 0
     :source        "DuckBitcoin"}
    {:name          "LND2 On-chain"
     :initial-value 0
     :source        "identity"}]

   :transactions
   [{:date        "2022-09-05T10:57:00"
     :description "Payday"
     :debits      [{:value 2000. :account "Bank Account"}]}
    {:date        "2022-09-05T10:59:00"
     :description "Transfer to exchange"
     :debits      [{:value -600. :account "Bank Account"}
                   {:value 600. :account "Bob's Exchange"}]}]

   :categories
   [{:name "Bob's Category A"}
    {:name "Bob's Category B"}
    {:name "Bob's Category C"}]

   :ln-nodes
   [{:name            "lnd-bob"
     :node            "bitcoin-bob"
     :host            "bob-lnd-internal.dinsro.svc.cluster.local"
     :fileserver-host "fileserver"
     :port            "10009"
     :mnemonic
     ["absorb"  "impulse"  "slide" "trumpet" "garage" "happy"
      "round"   "rely"     "rebel" "flower"  "vessel" "regular"
      "trick"   "mechanic" "bird"  "hope"    "appear" "oblige"
      "someone" "spell"    "robot" "riot"    "swamp"  "pulp"]
     :remote-nodes
     [{:host   "alice-lnd-external.dinsro.svc.cluster.local"
       :pubkey "02e21b44ba07591e43aa59a29f8631edb299d306d232a51a38f28d3892751dc13d"}]
     :peers           []
     :txes            []}]

   :wallets
   [{:label        "a"
     :blockheight  0
     :name         "Wallet B"
     :descriptor   ""
     :bip39seed    "88eb1087c7e97a9c7f1895e4e42a2e64bdc51b5364c8c80e3ab7041b9267ae747b3a108c85cd57f23c0788b200bd9844c80c62888f5affb1e3939d5e9750d145"
     :bip32rootkey "tprv8ZgxMBicQKsPehNiYwinuVTeh9GzDmr8ToRZ6z4jYXynkwJi9bQPfhGwJ2q7GBKkpuQcWwktyzqYm33NKc6cMCRYJXn6BakdYbT9TLvnJx8"
     :seed         ["violin" "bleak"  "raw"  "mistake" "toddler" "wire"
                    "kind"   "state"  "aim"  "game"    "glass"   "peace"
                    "bone"   "luxury" "list" "flash"   "music"   "impulse"
                    "naive"  "type"   "wet"  "reform"  "panic"   "expand"]
     :node         "bitcoin-alice"
     :path         "m/84'/0'/0'"}]}]

 :currencies
 [{:name "Sats"
   :code "sats"
   :sources
   [{:name       "identity"
     :url        "identity"
     :code       "sats"
     :isActive   false
     :isIdentity true
     :rates      [{:date "2010-05-18T12:35:20" :rate 1.}]
     :path       "1"}]}

  {:name "Dollars"
   :code "usd"
   :sources
   [{:name       "CoinLott0"
     :url        "https://www.coinlott0.localtest.me/api/v1/quotes/BTC-USD"
     :isActive   false
     :isIdentity false
     :path       ".rate"
     :rates      []}
    {:name       "BitPonzi"
     :url        "https://www.bitponzi.biz.localtest.me/cgi?id=3496709"
     :isActive   false
     :isIdentity false
     :path       ".rate"
     :rates      []}
    {:name       "DuckBitcoin"
     :url        "https://www.duckbitcoin.localtest.me/api/current-rates"
     :isActive   false
     :isIdentity false
     :path       ".rate"
     :rates
     [{:date "2021-10-09T11:06:37" :rate 1813}
      {:date "2021-10-09T18:01:20" :rate 1823}
      {:date "2021-10-10T07:41:47" :rate 1812}
      {:date "2021-10-10T08:35:22" :rate 1820}
      {:date "2021-10-10T14:30:14" :rate 1811}
      {:date "2021-10-10T19:50:32" :rate 1831}
      {:date "2021-10-11T11:29:31" :rate 1747}
      {:date "2021-10-11T15:32:55" :rate 1736}
      {:date "2021-10-16T07:15:11" :rate 1624}
      {:date "2021-11-07T01:06:38" :rate 1608}
      {:date "2021-11-07T12:38:45" :rate 1608}
      {:date "2021-11-07T12:36:28" :rate 1616.98454696378}
      {:date "2021-11-07T13:05:16" :rate 1601.2499997998439}
      {:date "2021-11-07T12:10:16" :rate 1602.3992403345683}
      {:date "2021-11-07T12:15:16" :rate 1608.2339002518654}
      {:date "2021-11-07T16:00:00" :rate 1595}
      {:date "2021-11-10T18:07:37" :rate 1539}
      {:date "2022-07-09T09:50:00" :rate 4647}
      {:date "2022-08-20T09:13:00" :rate 4705}
      {:date "2022-09-03T18:50:00" :rate 5051}
      {:date "2022-09-05T11:06:00" :rate 5027}
      {:date "2022-09-16T16:55:00" :rate 5066}
      {:date "2022-12-03T13:43:16" :rate 5887}
      {:date "2023-01-28T14:35:25" :rate 4340}]}

    {:name       "Leviathan"
     :url        "https://www.leviathan.localtest.me/prices"
     :isActive   false
     :isIdentity false
     :path       ".rate"
     :rates      []}]}]}
