;; shadow-cljs configuration
{:dev-http {8080 "resources/public"}
 :lein true
 :nrepl {:port 3333}

 :builds
 {:app
  {:asset-path "/js"
   :closure-defines
   {"re_frame.trace.trace_enabled_QMARK_"        true
    "day8.re_frame.tracing.trace_enabled_QMARK_" true}
   :modules {:main {:init-fn dinsro.app/init}}
   :output-dir "resources/public/js"
   :target :browser}

  :ci
  {:build-options {:ns-aliases {devcards-marked cljsjs.marked
                                devcards-syntax-highlighter cljsjs.highlight}}
   :js-options {:resolve
                {"devcards-marked" {:target :npm :require "marked"}
                 "devcards-syntax-highlighter" {:target :npm :require "highlight.js"}}}
   :ns-regexp "-test$"
   :output-to "target/ci.js",
   :target :karma}

  :devcards
  {:asset-path "/devcards/js"
   :build-options {:ns-aliases {devcards-marked cljsjs.marked
                                devcards-syntax-highlighter cljsjs.highlight}}
   :compiler-options {:devcards true}
   :js-options {:resolve
                {"devcards-marked" {:target :npm :require "marked"}
                 "devcards-syntax-highlighter" {:target :npm :require "highlight.js"}}}
   :modules {:main {:init-fn dinsro.devcards/main}}
   :output-dir "resources/public/devcards/js"
   :target :browser}

  :test
  {:build-options {:ns-aliases {devcards-marked cljsjs.marked
                                devcards-syntax-highlighter cljsjs.highlight}}
   :devtools  {:http-port 8021
               :http-root "target/tests"}
   :output-to "target/tests/test.js",
   :runner-ns dinsro.runner
   :target :browser-test
   :test-dir "target/tests"}

  :release
  {:asset-path "/js"
   :closure-defines
   {"re_frame.trace.trace_enabled_QMARK_"        false
    "day8.re_frame.tracing.trace_enabled_QMARK_" false}
   :modules {:main {:init-fn dinsro.app/init}}
   :output-dir "resources/public/js"
   :target :browser}

  :workspaces
  {:asset-path "/js/workspaces"
   :build-options {:ns-aliases {devcards-marked cljsjs.marked
                                devcards-syntax-highlighter cljsjs.highlight}}
   :devtools         {:http-root          "resources/public"
                      :http-port          3689
                      :http-resource-root "."
                      :preloads []}

   :js-options {:resolve
                {"devcards-marked" {:target :npm :require "marked"}
                 "devcards-syntax-highlighter" {:target :npm :require "highlight.js"}}}
   :modules          {:main {:entries [dinsro.devcards]}}
   :output-dir "resources/public/js/workspaces"
   :target :browser}}}
