{
 ;; The host that dinsro is served at
 :baseUrl "dinsro.localtest.me"

 ;; repo for images
 :repo "duck1123"

 ;; tag for dinsro image
 :version "latest"

 ;; If Rancher is being used, all namespaces will be applied to this project
 :projectId "p-vhkqf"

 :devcards
 {:enabled     false
  :embedded    false
  :inheritHost true
  :host        "devcards.dinsro.localtest.me"}

 :devtools
 {:enabled     false
  :embedded    false
  :inheritHost true
  :host        "devtools.dinsro.localtest.me"}

 :docs
 {:enabled     false
  :inheritHost true
  :host        "docs.dinsro.localtest.me"}

 :logLevel ":info"

 :nodes
 {"alice"
  {:bitcoin    true
   :lnd        true
   :fileserver true
   :rtl        true
   :specter    false
   :lnbits     false
   :external-port 9736}

  "bob"
  {:bitcoin    true
   :lnd        true
   :fileserver true
   :rtl        false
   :specter    false
   :lnbits     false
   :external-port 9737}}

 :notebooks
 {
  ;; Should the notebooks be started?
  :enabled     false
  :embedded    false
  :inheritHost true
  :host        "notebooks.dinsro.localtest.me"}

 :workspaces
 {:enabled     false
  :embedded    false
  :inheritHost true
  :host        "workspaces.dinsro.localtest.me"}

 :useDocs true

 :portalHost "portal.dinsro.localtest.me"

 ;; If true, devtools will be run on the host, otherwise the dev image will launch
 ;; a devtools watcher on startup and will pre-compile the js resources
 :localDevtools true

 :useCards true

 :seedDatabase false

 :useGuardrails true

 ;; Enable linting watchers
 :useLinting true

 ;; Should a nrepl connection be started?
 :useNrepl false

 ;; If true, a database will be launched and set as the db backend
 :usePersistence false

 :usePortal true

 ;; If true, production image will be deployed
 :useProduction false

 :useSqlpad false

 :tls { :enabled true }

 ;; Should testing resources be run?
 :useTests false
 }
