{
  "baseUrl":   "dinsro.localhost",
  "notebookHost": "notebook.localhost",
  "notebookInheritHost": false,
  "projectId": "",
  "repo":      "duck1123",
  "version":   "latest",
  "useLinting": true,
  "useNotebook": true,
  "useProduction": false,
  "useTests": true,
}
