{
 :config-paths
 ["babashka/fs"
  "com.fulcrologic/fulcro"
  "com.wsscode/async"
  "com.wsscode/pathom"
  "rewrite-clj/rewrite-clj"]

 :lint-as
 {com.fulcrologic.rad.container/defsc-container cljs.core/defn
  mount.core/defstate                           cljs.core/def
  nextjournal.devcards/defcard                  cljs.core/def
  nubank.workspaces.core/defcard                cljs.core/def
  taoensso.encore/if-let                        cljs.core/let}

 :linters
 {:unresolved-var {:exclude [http.async.client/GET http.async.client/POST
                             nextjournal.clerk.viewer/clerk-eval]}

  ;; ignore the arrow symbols
  :unresolved-symbol {:exclude [(fulcro-spec.core/assertions)]}}}
