{:linters
 {
  :lint-as {net.danielcompton.defn-spec-alpha/defn schema.core/defn}

  :unused-namespace {:exclude [dinsro.translations
                               taoensso.timbre]}

  :unused-referred-var {:exclude {dinsro.translations [tr]}}

  :unresolved-symbol {:exclude [(orchestra.core/defn-spec)]}
  }}
