{:nrepl-bind                        "0.0.0.0"
 :nrepl-port                        7000
 :dinsro.components.notebooks/config {:enabled true}
 :dinsro.components.seed/enabled    false

 ;; The base path where lnd certs are stored
 :dinsro.model.ln.nodes/cert-base "/mnt/certs"

 :org.httpkit.server/config
 {:port 3000
  :ip   "0.0.0.0"}

 :roterski.fulcro.rad.database-adapters.xtdb/databases
 {:main {}}

 :ring.middleware/defaults-config
 {:static {:resources "public"}}

 :com.fulcrologic.rad.pathom/config
 {:trace?         false
  ;; TODO: Elide params and such in logging
  :sensitive-keys #{:password :dinsro.model.account/password}
  :log-requests?  true
  :log-responses? true}

 :taoensso.timbre/logging-config
 {:min-level :trace :level :trace}}
