{:dinsro.components.notebooks/config {:enabled true}
 :dinsro.components.seed/enabled     false
 :dinsro.core/modules                [ "dinsro.components.notebooks" ]
 :ring.middleware/defaults-config
 {:params    {:keywordize true
              :multipart  true
              :nested     true
              :urlencoded true}
  :cookies   true
  :responses {:absolute-redirects     true
              :content-types          true
              :default-charset        "utf-8"
              :not-modified-responses true}
  :session   {}
  :static    {:resources "public"}
  :security  {:anti-forgery   true
              :hsts           true
              :ssl-redirect   false
              :frame-options  :sameorigin
              :xss-protection {:enable? true
                               :mode    :block}}}
 :taoensso.timbre/logging-config
 {:level     :info
  :min-level [[#{"com.fulcrologic.rad.resolvers"
                 "com.fulcrologic.rad.pathom"
                 "roterski.fulcro.rad.database-adapters.xtdb.generate-resolvers"} :fatal]
              [#{"*"} :info]]}}
