apiVersion: v1
kind: Service
metadata:
  name: fileserver
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "fileserver.name" . }}
    chart: {{ template "fileserver.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  ports:
    - name: files
      port: 80
      targetPort: files
  selector:
    app: {{ template "fileserver.name" . }}
    release: {{ .Release.Name }}
