{{- if .Values.devcards.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: devcards
  labels:
    {{- include "dinsro.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "dinsro.devcardsSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "dinsro.devcardsSelectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "dinsro.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      - name: "devcards"
        securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
        image: "duck1123/dinsro:devcards-latest"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
        {{- with (index .Values.devcards.devtools.ingress.hosts 0) }}
        - name: DEVTOOLS_URL
          value: "http://{{ .host }}"
        {{- end }}
        ports:
        - name: devcards
          containerPort: 7778
          protocol: TCP
        - name: devtools
          containerPort: 9630
          protocol: TCP
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
