{{- if .Values.notebooks.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "dinsro.fullname" . }}-notebooks
  labels:
    {{- include "dinsro.labels" . | nindent 4 }}
spec:
  type: {{ .Values.notebooks.service.type }}
  ports:
  - port: {{ .Values.notebooks.service.port }}
    targetPort: notebooks
    protocol: TCP
    name: notebooks
  selector:
    {{- include "dinsro.selectorLabels" . | nindent 4 }}
{{- end }}
