{{- if .Values.portal.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: portal
  labels:
    {{- include "dinsro.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: 5678
    targetPort: web
    protocol: TCP
    name: web
  selector:
    {{- include "dinsro.portalSelectorLabels" . | nindent 4 }}
{{- end }}
