{{- if .Values.database.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  labels:
    app: {{ template "dinsro.fullname" . }}-data
data:
  POSTGRES_DB: db
  POSTGRES_USER: {{ .Values.database.user }}
  POSTGRES_PASSWORD: {{ .Values.database.password }}
{{- end -}}
