{:foo :billy
 :test true
 :port 3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000
 :database-url "jdbc:h2:./dinsro_dev.db"
 :datahike-url "datahike:file:///home/duck/projects/dinsro/data/test"

 }
