apiVersion: v1
kind: ConfigMap
metadata:
  name: rtl-config
  labels:
    app: {{ template "rtl.fullname" . }}-data
# "multiPass": "leeloo dallas",
data:
  RTL-Config.json: |-
{{- if (eq "-" .Values.configurationFile) }}
{{ .Files.Get "config.json" | indent 4}}
{{- else }}
{{ .Values.configurationFile | indent 4 }}
{{- end }}
